@import "tailwindcss";

/*Configuramos la paleta de colores vintage para Tailwind v4 */
@theme {
  --color-vintage-cafe: #5C4033;
  --color-vintage-verde: #4B5320;
  --color-vintage-grisOscuro: #2F3538;
  --color-vintage-grisClaro: #E5E7EB;
  --color-vintage-crema: #FDFBF7;
}